.X792B2C0790B11ED89ED499BB1F405DC-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: #603fef;
  border-radius: 4px;
  position: relative;
  padding: 0;
  margin: 5px;
}

.X792B2C0790B11ED89ED499BB1F405DC-cross-line-1,
.X792B2C0790B11ED89ED499BB1F405DC-cross-line-2 {
  background-color: white;
  width: 60%;
  height: 1px;
  position: absolute;
}

.X792B2C0790B11ED89ED499BB1F405DC-cross-line-1 {
  transform: rotate(45deg);
}

.X792B2C0790B11ED89ED499BB1F405DC-cross-line-2 {
  transform: rotate(-45deg);
}

@media only screen and (hover) {
  .X792B2C0790B11ED89ED499BB1F405DC-close-btn:hover {
    /* transform: translateY(-1px); */
    filter: brightness(90%);
  }
  .X792B2C0790B11ED89ED499BB1F405DC-close-btn:active {
    transform: translateY(1px);
  }
}

.X792B2C0790B11ED89ED499BB1F405DC-close-btn:focus {
  outline: none;
}
